:root {
  --navbar-height: 3rem;
  --navbar-font-size: 2rem;
}

.header * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header ul {
  list-style: none;
}

 a {
  text-decoration: none;
  color: inherit;
}

.header {
  text-wrap: nowrap;
  background-color: #0c0c0c;
  position: fixed;
  width: 100%;
  top: 0;
}

.header_content {
  display: flex;
  align-items: center;
  padding: 0 30px;
  min-height: var(--navbar-height);
}

nav {
  width: 100%;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav_list li {
  overflow: hidden;
  margin: 0;
  padding: 0;
  flex-grow:1;
  display: flex;
  justify-content: center;
}

.nav_link {
  width: 100%;
  font-size: var(--navbar-font-size);
  color: #57a6a1;
  transition: all color 0.4s;
}

.nav_link .icon-settings {
  background-color: #57a6a1;
  transition: all color 0.4s;
}

.nav_link.dev {
  color: var(--dev-item-color);
}

.nav_link:hover {
  color: rgba(255, 255, 255, 1);
}

.nav_link .icon-settings:hover {
  background-color: rgba(255, 255, 255, 1);
}

.icon-settings {
  mask: url("/static/settings_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg") no-repeat center;
  mask-size: cover;
  background-color: #57a6a1;
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  width: var(--navbar-font-size);
  height: var(--navbar-font-size);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  height: 2px;
  width: 27px;
  background: #fff;
  margin: 5px 0;
  opacity: 0.8;
}

.nav--open {
  transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 500px) {
  .nav {
    position: fixed;
    top: 60px;
    left: 0;
    background-color: rgb(19, 22, 26);
    width: 100%;
    padding: 10px 0 25px;
    transform: translateX(-100%);
  }

  .nav_list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .nav_link {
    font-size: var(--navbar-font-size);
  }

  .hamburger {
    display: block;
  }
}
