#main-container {
  display: flex;
  background-color: #9b3922;
  width: 80%;
  height: 100vh;
  justify-content: center;
  border: 2px solid #333;
  border-radius: 0.4rem;
  line-height: 2rem;
  text-align: center;
  margin-inline: auto;
  border-bottom: 5px solid #f2613f;
}

#main-container #settings-ul {
  list-style-type: none;
  width: 100%;
}

#main-container #settings-ul li {
  border-width: 70%;
  display: block;
  text-align: center;
  text-decoration: none;
}

.three-quarters {
  width: 70%;
}

.quarter {
  width: 30%;
  margin: 10px;
  display: block;
  text-align: center;
  justify-content: center;
  border-left: 3px solid #f2613f;
  border-right: 2px solid #f2613f;
}

.setting-button {
  background-color: #9b3922;
  border: none;
  color: #000000;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 28px;
  cursor: pointer;
  margin: 0 auto;
  padding: 15px 0;
}

.setting-button:hover {
  background-color: #f2613f;
}

.setting-button.clicked {
  background-color: #f2613f;
  /* Keep the hover color */
}

#welcome {
  margin: 20px auto;
  padding-bottom: 15px;
  border-bottom: 2px solid #f2613f;
}

#update-user-form {
  border: 2px solid #f2613f;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  padding: 20px;
  text-align: center;
  margin: 1em auto;
  width: 100%;
}

#update-user-form input[type="file"],
#update-user-form input[type="number"],
#update-user-form input[type="text"],
#update-user-form input[type="password"] {
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 4px;
}

#update-user-form label {
  margin: 20px 0;
}

#update-user-form  button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}
