{{ define "shelves-page" }}
{{ template "open-html-tag" .}}
{{ template "head" . }}
<body>
    {{ template "navbar" . }}
    {{ template "notification-container" . }}
    {{ template "shelves-page-content" . }}
    {{ template "shelves-js" .}}
</body>
{{ template "close-html-tag" .}}
{{ end }}

{{ define "shelves-page-content" }}
<h1>Shelf list</h1>
<button hx-post="/shelf" hx-target="#Shelf-list-body" hx-swap="beforeend">Create Shelf</button>
{{ template "shelf-list" . }}
{{ end }}

{{ define "shelves-js" }}
    <script>

    </script>
{{end}}





