{{ define "box-list-item" }}
{{ $empty := false }}
{{ if not . }}
    {{ $empty = true }}
{{ end }}

{{ if $empty }}
<tr id="box-list-item-{{.Box_Id}}">
    <td colspan="7" style="text-align:center">
        <span class="empty">empty<img class="preview" style="opacity:0"></span>
    </td>  
</tr>
{{ else }}
<tr id="box-list-item-{{.Box_Id}}">
    <td hx-get="/boxes/{{.Box_Id}}"
        hx-push-url="true"
        hx-target="body"
        class="clickable"
    >{{.Label}}</td>
    <td>{{.Box_label}}</td> 
    <td>{{.Shelve_label}}</td>
    <td>{{.Area_label}}</td>
    <td style="text-align: center;width:0;text-wrap: nowrap;">
        <div>
        <img class="preview" 
            src="data:image/png;base64,{{.Picture}}" 
            {{if .Picture}}alt="{{.Label}}"{{end}}
        >
        </div>
    </td>
    {{ if not .Move}}
    <td style="text-align: center;"><input type="checkbox" name="move:{{.Box_Id}}"></td>
    <td style="text-align: center;"><input type="checkbox" name="delete:{{.Box_Id}}"></td>
    {{ else }}
    <td style="text-align: center;">
        <button type="">move here</button>
    </td>
    {{ end }}
</tr>
{{ end }}

{{ end }}
