{{ define "box" }}
<div id="box-{{.Id}}"
    class="box-container">
    <label for="id"></label><input type="text" value="{{.Id}}" {{ if not .Edit}}readonly{{end}}>
    <label for="id"></label><input type="text" value="{{.Label}}" {{ if not .Edit}}readonly{{end}}>
    <label for="id"></label><input type="text" value="{{.Description}}" {{ if not .Edit}}readonly{{end}}>
<ol>
    {{ range .Items }}    
    <li style="border:solid">{{ template "item-container-2" .}}</li>
    {{ end}}
</ol>
<button hx-delete="/box?id={{.Id}}" hx-swap="outerHTML" hx-target="#box-{{.Id}}">delete</button>
<button hx-put="/box?id={{.Id}}" hx-target="#box">Update box</button>
</div>
{{end}}
