<!doctype html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    {{ define "create-item-page" }} {{ template "open-html-tag" . }} {{ template
    "head" . }} {{ template "statusbar" . }} {{ template "create-item-form" .
    }}{{ template "script" . }} {{ template "close-html-tag" . }} {{end}}
    <div id="response-div"></div>
    {{define "create-item-form"}}
    <form
      hx-post="api/v1/create/item"
      id="form"
      hx-target="#response-div"
      name="form"
    >
      <label for="label">Label</label>
      <input type="text" id="label" name="label" required="" /><br />
      <label for="description">Description</label>
      <input type="text" id="description" name="description" /><br />
      <label for="img">Select image</label>
      <input type="file" id="img" name="img" accept="image/*" /><br />
      <label for="quantity">Quantity</label>
      <input type="number" id="quantity" name="quantity" /><br />
      <label for="weight">Weight</label>
      <input type="text" id="weight" name="weight" /><br />
      <label for="qrcode">QR Code</label>
      <input type="text" id="qrcode" name="weight" /><br />
      <button type="submit">add new item</button>
    </form>
    {{end}}
  </body>
</html>
