{{ define "item-container" }}
<button onclick="showForm()">Back to Form</button> 
<form id="item-form-{{ .ID }}"
    hx-put="/api/v1/update/item"
    hx-trigger="submit"
    hx-target="this"
    hx-swap="outerHTML"
    hx-encoding="multipart/form-data"
>
    <label for="id">ID:</label>
    <input type="text" id="id" name="id" value="{{ .ID }}" readonly>
    <br>
    <label for="label">Label:</label>
    <input type="text" id="label" name="label" value="{{ .Label }}" readonly>
    <br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="{{ .Description }}" readonly>
    <br>
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" value="{{ .Quantity }}" readonly>
    <br>
    <label for="weight">Weight:</label>
    <input type="text" id="weight" name="weight" value="{{ .Weight }}" readonly>
    <br>
    <label for="qrcode">QRcode:</label>
    <input type="text" id="qrcode" name="qrcode" value="{{ .QRcode }}" readonly>
    <br>

    <div id="image-preview-{{ .ID }}">
        {{ if .Picture }}
        <label for="picture">Picture:</label>
        <img src="data:image/png;base64,{{ .Picture }}" alt="{{ .Label }}">
        <br>
        {{ else }}
        <p>No image available</p>
        {{ end }}
    </div>
    <div id="image-input-{{ .ID }}" style="display: none;">
        <input type="file" id="picture-{{ .ID }}" name="picture" accept="image/*">
        <span id="image-hint-{{ .ID }}" style="color: #666;">Upload a new image or leave empty to keep the current one.</span>
    </div>
    <br>
    <button type="button" onclick="editItem({{ .ID }})">Edit</button>
    <button type="submit" style="display: none;">Update</button>
    <button type="button" onclick="cancelEdit({{ .ID }})" style="display: none;">Cancel</button>
    <input type="text" name="id2" value="8a8d6753-cad5-41d9-9734-d2e4b1e6e839">
    <button hx-post="/api/v1/move/item">move</button>
</form>
{{ end }}

{{ define "items-container" }}{{.}}{{ end }}

{{ define "item-container-2" }}
<form id="item-form-{{ .ID }}"
    hx-put="/api/v1/update/item"
    hx-trigger="submit"
    hx-target="this"
    hx-swap="outerHTML"
    hx-encoding="multipart/form-data"
>
<div class="flex-horizontal">
    <div>
        <div id="image-preview-{{ .ID }}">
            {{ if .Picture }}
            <!--<label for="picture">Picture:</label>-->
            <img src="data:image/png;base64,{{ .Picture }}" alt="{{ .Label }}">
            <br>
            {{ else }}
            <p>No image available</p>
            {{ end }}
        </div>
        <div id="image-input-{{ .ID }}" style="display: none;">
            <input type="file" id="picture-{{ .ID }}" name="picture" accept="image/*">
            <span id="image-hint-{{ .ID }}" style="color: #666;">Upload a new image or leave empty to keep the current one.</span>
            </div>
        </div>
        <ul>
            <li>
                <label for="id">ID:</label>
                <input type="text" id="id" name="id"
                    value="{{ .ID }}" readonly>
            </li>
            <li>
                <label for="label">Label:</label>
                <input type="text" id="label" name="label"
                    value="{{ .Label }}" readonly>
            </li>
            <li>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description"
                    value="{{ .Description }}"
                    readonly>
            </li>
            <li>
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity"
                    value="{{ .Quantity }}"
                    readonly>
            </li>
            <li>
                <label for="weight">Weight:</label>
                <input type="text" id="weight" name="weight"
                    value="{{ .Weight }}"
                    readonly>
            </li>
            <li>
                <label for="qrcode">QRcode:</label>
                <input type="text" id="qrcode" name="qrcode"
                    value="{{ .QRcode }}"
                    readonly>
            </li>
        </ul>        
    </div>

    <button type="button" onclick="editItem({{ .ID }})">Edit</button>
    <button type="submit" style="display: none;">Update</button>
    <button type="button" onclick="cancelEdit({{ .ID }})" style="display: none;">Cancel</button>
</form>
{{ end }}
