{{ define "item-list-units-pagination" }}
    {{ range .Records }}
        <tr id="item-list-unit-{{.ID}}"> 
            <td hx-get="/api/v1/read/item/{{.ID}}" 
                hx-target="#level-two"
                hx-swap="innerHTML"
                onclick="htmx.trigger(this, 'htmx:load')"> 
                {{.Label}}
            </td>
            <td>{{.BoxLabel}}</td> 
            <td>{{.ShelfLabel}}</td>
            <td>{{.AreaLabel}}</td>
            <td style="text-align: center;">
                <img class="preview" 
                    src="data:image/png;base64,{{.PreviewPicture}}" 
                    alt="{{.Label}} image preview"
                >
            </td>
            <td style="text-align: center;"><input class="move-checkbox" type="checkbox" name="{{.ID}}"></td>
            <td style="text-align: center;"><input class="delete-checkbox" type="checkbox" name="{{.ID}}"></td>
        </tr>
    {{ end }}

    {{if .TotalCount}} 
        {{if gt .TotalCount 10}}
            <div hx-swap-oob="innerHTML" id="pagination">
                {{range .PaginationData}}
                    <button hx-get="/items-pagination?query={{$.Query}}&offset={{.Offset}}" 
                            hx-trigger="click" 
                            hx-target="#item-list-body"
                            hx-swap="innerHTML">
                           {{.PageNumber}}
                    </button>
                {{end}}
            </div>
        {{end}}
    {{end}}
{{end}}
