{{ define "item-move-to" }}
    <div class="move-to">
<button onclick="showForm()">Back to Form</button> 
        <ul>
            <li>
                <button
                    hx-get="/boxes-list"
                    type="button"
                    hx-swap="innerHTML"
                    hx-push-url="false"
                    hx-target="#level-three">
                    Box
                </button>
                <button 
                    hx-get="/template/item-form" 
                    type="button"
                    hx-swap="innerHTML"
                    hx-target="#level-two"
                    hx-push-url="false">
                    Shelve
                </button>
                <button 
                    hx-post="/template/item-dummy" 
                    type="button"
                    hx-swap="none"
                    hx-target="#level-two"
                    hx-push-url="false">
                    Area
                </button>
            </li>
        </ul>
    </div>

{{end}}
