{{define "search-item-form"}}
<div id="level-one" style="display: block;">
    <form id="search-item-form" >
        {{ $searchInput := map
            "SearchInputLabel" "Search item"
            "SearchInputHxPost" "/api/v1/search/item"
            "SearchInputHxTarget" "#item-list-body" }}
        {{ template "search-input" $searchInput.Map }}
        <table class="item-list">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Box</th>
                    <th>Shelve</th>
                    <th>Area</th>
                    <th style="width: 10%">Image</th>
                    <th style="width: 10%">Move</th>
                    <th style="width: 10%">Delete</th>
                </tr>
            </thead>
            <tbody id="item-list-body">
            </tbody>
        </table>
        <button type="submit"
                hx-post="/delete-item"
                hx-swap="none">
                Delete
        </button>
        <button type="submit"
                hx-swap="innerHTML"
                hx-target="#level-two"
                hx-post="/move-item"
                onclick="handleMoveItems()">
                Move
        </button>
    </form>
</div>
    <div id="level-two" style="display: none;"></div>
    <div id="level-three" style="display: none;"></div>
    <div id="pagination"></div>
{{end}}


{{ define "search-input" }}
<label for="search">{{ with .SearchInputLabel }}{{ . }}{{end}}</label>
<input id="search-bar"
    type="text"
    {{ if .SearchInputHxPost}}
        hx-post="{{ .SearchInputHxPost }}"
        hx-trigger="load, keyup changed delay:500ms"
        hx-target="{{ .SearchInputHxTarget }}"
    {{end}}
    hx-on:keyup="document.getElementById('pagination').innerHTML = '';"
    name="query">
{{ end }}
