{{ define "areas-list-page" }}
{{ template "open-html-tag" . }} 
{{ template "head" . }}
<body>
    {{ template "navbar" . }}
    {{ template "notification-container" . }}
    {{ template "areas-list-content" . }}
</body>
{{ template "close-html-tag" . }}
{{end}} 


{{ define "areas-list-content"  }}
<h1>Area list</h1>
<button hx-post="/area" 
    hx-target="#list-body"
    hx-swap="beforeend"
>Create area (auto)</button>
<button hx-get="/area/create"
    hx-swap="outerHTML"
    hx-push-url="true"
    hx-target="body"
>Create area (manual)</button>
{{ template "list" . }}
{{ end }}

