{{ define "item-details-template" }}
{{ template "open-html-tag" .}}
{{ template "head" . }}
<body>
    {{ template "navbar" . }}
    {{ template "notification-container" . }}
    {{ template "item-details" . }}
</body>
{{ template "close-html-tag" .}}
{{ end }}

{{ define "item-details" }}

{{ if .Edit }}
<h1>Update Item</h1>
{{ else }}
<h1>Preview Item</h1>
{{ end }}
<form id="box-{{ .ID }}"
    class="container"
    hx-encoding="multipart/form-data"
    hx-post="/api/v1/create/item"
    hx-target="body"
    hx-swap="innerHTML">
    <div class="info-container">
        <div class="detail-info">
            <input type="hidden" name="id" value="{{ .ID }}" >

            <label for="label">Label:</label>
            <input name="label" type="text" value="{{ .Label }}"
                 {{ if not .Edit }}readonly{{ end }}>

            <label for="description">Description:</label>
            <input name="description" type="text" value="{{ .Description }}"
                 {{ if not .Edit }}readonly{{ end }}>

            <label for="height">Quantity:</label>
            <input name="height" type="number" step="any" value="{{ .Height }}"
                 {{ if not .Edit }}readonly{{ end }}>

            <label for="width">Weight:</label>
            <input name="width" type="number" step="any" value="{{ .Width }}"
                 {{ if not .Edit }}readonly{{ end }}>

            <label for="qrcode">QRCode:</label>
            <input type="text" id="qrcode" name="qrcode" value="{{ .QRCode }}"
                 {{ if not .Edit }}readonly{{ end }}>

            {{ $addToInputsData := map "Item" true "BoxID" .BoxID "BoxLabel" .BoxLabel "ShelfID" .ShelfID
               "ShelfLabel" .ShelfLabel "AreaID" .AreaID "AreaLabel" .AreaLabel "Edit" .Edit }}
            {{ template "details-additional-inputs" $addToInputsData.Map }}
        </div>

        {{ $imagePreview := map "ID"  .ID  "Label"  .Label  "Edit" .Edit "Create" "" "Picture"  .Picture }}
        {{ template "details-image-preview" $imagePreview.Map }}
    </div>
    
    {{ if .Edit }}
      <button hx-get="{{ .ID }}?edit=true" hx-target="body" hx-swap="innerHTML">Update</button>
      <button type="button" onclick="window.history.back();">Cancel</button>
    {{ else }}
      <button hx-get="{{ .ID }}?edit=true" hx-push-url="true" hx-target="body" hx-swap="innerHTML">Edit</button>
      <button hx-get="{{ .ID }}?edit=true" hx-target="body" hx-swap="innerHTML">Delete</button>
    {{ end }}
</form>
<div id="place-holder"></div>
{{ end }}



