{{ define "shelf-pagination-unit" }}

  {{ if .Pagination }} 
        <label for="limit"></label>
    <div id="pagination">
        {{ range .Pagination }}
            <button 
                {{if .Type }}
                    hx-get="shelves/search?page={{.PageNumber}}&offset={{.Offset}}&query={{.Query}}&type={{.Type}}"
                    hx-target="#tg"
                    hx-push-url="false"
                    hx-swap="innerHTML"
                {{ else }}
                    hx-get="shelves?page={{.PageNumber}}&offset={{.Offset}}&query={{.Query}}"
                    hx-target="body"
                    hx-push-url="true"
                {{ end }}
                type="button"
                {{ if .Selected }} class="selected" {{ end }}
                {{ if .Disabled }} disabled {{ end }}
                style="width:2.5rem" >
                {{.PageNumber}}
            </button>
        {{ end }}
   {{ else }}
    <button>1</button>
  {{ end }}
    </div> 
{{ end }}


