{{ define "shelf-list" }}
<form id="box-list"
    hx-get="/shelves"
    hx-push-url="true"
    hx-target="body"
    hx-swap="outerHTML"
    hx-trigger="keyup changed delay:500ms from:#search-bar, keyup changed delay:500ms from:#item-limit"
>
    {{ if .SearchInputLabel }}
        <label for="search">{{ with .SearchInputLabel }}{{ . }}{{end}}</label>
        <input id="search-bar" type="text" value="{{ .SearchInputValue }}" name="query">

        <!--this input must have type submit and be after search-bar input-->
        <!--or else search wont work if the next input is disabled-->
        <input type="submit" name="page" value="{{.PageNumber}}" hidden>

        <div id="pagination">
            <label for="limit"></label>
            <input id="item-limit" type="number" name="limit" value="{{ if .Limit}}{{.Limit}}{{else}}5{{end}}" >
            {{  range .Pages }}
            <input type="submit" name="page" value="{{.PageNumber}}"
                {{ if .Selected }}
                    class="selected"
                {{end}}
                {{ if .Disabled}}disabled{{end}}
                style="width:2.5rem"
            >
            {{ end }}
        </div> 

    {{ end }}

    {{ if .Move }}
        <div id="move-data-container">
            {{ if .Data }}
                Shelves selected to be moved:
                {{ range .Data }}
                    <input name="{{ .Key }}" value="{{ .Value }}" readonly>
                {{ end }}
            {{ else }}
                Nothing selected to be moved.
            {{ end }}
        </div>
    {{ end }}

    <table class="list">
        <thead>
            <tr>
                <th>Label</th>
                <th>Area</th>
                <th style="width: 10%">Image</th>
                <th style="width: 10%">Move</th>
                {{ if not .Move }}
                <th style="width: 10%">Delete</th>
                {{ end }}
            </tr>
        </thead>
        <tbody id="box-list-body">
            {{ if .Shelves }}
                {{ range .Shelves }}
                {{ template "shelf-list-row" . }}
                {{ end }}
            {{ end }}
        </tbody>
    </table>

    {{ if not .Move }}
    <div>
        <button hx-delete="/api/v1/delete/shelves"
            hx-select="#shelf-list"
            hx-push-url="false"
        >delete</button>
        <button
            hx-post="/get-shelves-move-page"
            type="button"
            hx-swap="innerHTML"
            hx-push-url="false"
            hx-target="#move-to-list"
            hx-include=":checked"
        >move to box
        </button>
        <button 
            hx-get="/template/item-form" 
            type="button"
            hx-swap="innerHTML"
            hx-target="#level-two"
            hx-push-url="false"
        >move to area
        </button>
        <button 
            hx-post="/template/item-dummy" 
            type="button"
            hx-swap="none"
            hx-target="#level-two"
            hx-push-url="false"
        >move to another location
        </button>
    </div>

    <div id="move-to-list"></div>
    {{ end }}

</form>
{{ end }}
