{{ define "sample-page" }}
{{ template "open-html-tag" . }}
{{ template "head" . }}
<body>
    <div class="page">
      {{ template "statusbar" . }}
      {{ template "sample-page-body" . }}
    </div>
</body>
{{ template "close-html-tag" . }}
{{end}}

{{ define "sample-page-body" }}
<div id="main-container">
    <div>Body Text inside div</div>

    <h1>H1 Header</h1>
    <div style="display:flex">
        <p>Paragraph text</p>
        <div>Body Text inside div</div>
    </div>
    <h2>H2 Header</h2>
    <h3>H3 Header</h3>
    <h4>H4 Header</h4>
    <h5>H5 Header</h5>
    <h6>H6 Header</h6>

    <button 
        hx-get="/notification-success"
        type="button"
        hx-swap="none"
    >success</button>

    <button 
        hx-get="/notification-warning"
        type="button"
        hx-swap="none"
    >warning</button>
    <div class="update-placeholder"></div>

    <hr>
    <button hx-get="/boxes" hx-target="#boxid-list" hx-swap="innerHTML">BoxIDs()</button>
    <div>IDs:
        <div id="boxid-list" ></div>
    </div>
    <hr>

    <h2>Box list</h2>
    <button hx-post="/box" hx-target="#box-list-body" hx-swap="beforeend">Create box</button>
    <button hx-post="/api/v2/box" hx-target="#box-list-body" hx-swap="beforeend">Create box API</button>
    <button hx-get="/box" hx-target="#detailed-box">Get box</button>
    {{ template "box-list" . }}
    <div id="detailed-box" ></div>
</div>
{{end}}


{{ define "box-list" }}
<form id="box-list">
    <label for="search">search</label>
    <input name="search" value="">
    <button type="button">Alternative View</button>
    <table class="box-list">
        <thead>
            <tr>
                <th>Label</th>
                <th>Box</th>
                <th>Shelve</th>
                <th>Area</th>
                <th style="width: 10%">Image</th>
                <th style="width: 10%">Move</th>
                <th style="width: 10%">Delete</th>
            </tr>
        </thead> 
        <tbody id="box-list-body" hx-trigger="load" hx-get="/boxes" >
        </tbody>
    </table>
    <div >
        <button hx-delete="/boxes"
            hx-target="#box-list-body"
        >delete</button>
            <!--hx-include="[name='']"-->
        <button type="button" 
            hx-put="/boxes"
        >move</button>
    </div>
</form>
{{ end }}


{{ define "box-list-item" }}
<tr id="box-list-item-{{.Id}}">
    <td hx-get="/box?id={{.Id}}"
        hx-target="#detailed-box"
    >{{.Label}}</td>
    <td>{{ if .OuterBox }}{{ .OuterBox.Label }}{{ end }}</td>
    <td></td>
    <td></td>
    <td style="text-align: center;">
        <img class="preview" 
            src="data:image/png;base64,{{.Picture}}" 
            alt="{{.Label}} image preview"
        >
    </td>
    <td style="text-align: center;"><input type="checkbox" name="move:{{.Id}}"></td>
    <td style="text-align: center;"><input type="checkbox" name="delete:{{.Id}}"></td>
</tr>
{{end}}


{{ define "style-debug" }}
<style>
* {
    outline: 1px #000 dashed;
}
</style>
{{end}}

{{ define "atest-style" }}
<style hx-swap-oob="true:style">
* {
    outline: 1px #000 dashed;
}
</style>
{{ end }}
