tmpl.Funcs(template.FuncMap{
    "seq": seq,
})
{{ define "shelf-list" }}
<form id="box-list"
    hx-get="/shelves"
    hx-push-url="true"
    hx-target="body"
    hx-swap="outerHTML"
    hx-trigger="keyup changed delay:500ms from:#search-bar, keyup changed delay:500ms from:#item-limit"
>
    {{ if .SearchInputLabel }}
        <label for="search">{{ with .SearchInputLabel }}{{ . }}{{end}}</label>
        <input id="search-bar" type="text" value="{{ .SearchInputValue }}" name="query">

        {{ template "shelf-pagination-unit" .}}
         </br>
    {{ end }}

    <table class="box-list">
        <thead>
            <tr>
                <th>Label</th>
                <th>Area</th>
                <th style="width: 10%">Image</th>
                <th style="width: 10%">Move</th>
                {{ if not .Move }}
                <th style="width: 10%">Delete</th>
                {{ end }}
            </tr>
        </thead> 
        <!--boxes are created directly by backend with template-->
        <tbody id="box-list-body">
        {{ if .Shelves }}
            {{ range .Shelves }}
            {{ template "shelf-list-row" . }}
            {{ end }}
        {{ end }}
        </tbody>
    </table>
    <div >
        <button hx-delete="/boxes-list"
            hx-target="#box-list"
            hx-select="#box-list"
            hx-push-url="true"
        >delete</button>
        <button type="button" 
            hx-get="/boxes/move"
        >move</button>
    </div>
</form>

<div id="data-container" style="display: none;"></div> 
{{ end }}



