{{ define "shelves-page" }}
{{ template "open-html-tag" .}}
{{ template "head" . }}
<body>
    {{ template "navbar" . }}
    {{ template "notification-container" . }}
    {{ template "shelves-page-content" . }}
    {{ template "shelves-js" .}}
</body>
{{ template "close-html-tag" .}}
{{ end }}

{{ define "shelves-page-content" }}

<div id="main-container">
    <div class="section-up">
        <div class="quarter"> </div>
        <div class="three-quarters">
          {{ template "notification-container" . }}
        </div>
    </div>
    <div class="section-down">
        <div class="quarter">
        <ul>
            <li>
                <button
                    class="menu-button"
                    hx-get="/template/item-search"
                    type="button"
                    hx-swap="innerHTML"
                    hx-push-url="false"
                    hx-target=".target">
                    Search Shelves
                </button>
                <button 
                    class="menu-button"
                    hx-get="/template/item-form" 
                    type="button"
                    hx-swap="innerHTML"
                    hx-target=".target"
                    hx-push-url="false">
                    Add new Shelf
                </button>
            </li>
        </ul>
        </div>
        <div class="three-quarters target">
        </div>
    </div>
</div>
{{end}}

{{ define "shelves-js" }}
    <script>

    </script>
{{end}}





