{{ define "shelf-list-row" }}
    {{ if .ID }}
        <tr id="shelf-list-row-{{.ID}}">
            <!-- Do something if any of .Move, .Add, or .Preview is true -->
            {{ if or .Move (or .Add .Preview) }}
                <td hx-get="/shelves/update?id={{.ID}}"
                    hx-push-url="false"
                    hx-target="#add-input"
                    class="clickable"
                >{{.Label}}</td>
            {{ else }}
                <td hx-get="/shelves/update?id={{.ID}}"
                    hx-push-url="true"
                    hx-target="body"
                    class="clickable"
                >{{.Label}}</td>
            {{ end }}
            <td>{{.AreaLabel}}</td>
            <td style="text-align: center;">
                <img class="preview" 
                    src="data:image/png;base64,{{.PreviewPicture}}" 
                    {{if .PreviewPicture}}alt="{{.Label}}"{{end}}
                >
            </td>
            {{ if .Move}}
                <td style="text-align: center;">
                    <button >move here</button>
                </td>
            {{ else if .Add}}
                <td style="text-align: center;">
                <button hx-get="/shelves/input?add=true&id={{.ID}}"
                            hx-target="#add-target"
                            hx-push-url="false"
                            hx-swap="innerHTML"
                            hx-on:click="htmx:afterRequest: document.getElementById('tg').innerHTML = ''"
                    >Add to</button>
                </td>
            {{ else if .Preview}}
                <td style="text-align: center;"><input type="checkbox" name="delete:{{.ID}}"></td>
            {{ else }}
                <td style="text-align: center;"><input type="checkbox" name="move:{{.ID}}"></td>
                <td style="text-align: center;"><input type="checkbox" name="delete:{{.ID}}"></td>
            {{ end }}
        </tr>
    {{ else }}
        <tr id="shelf-list-row-empty">
            <td colspan="7" style="text-align:center">
                <span class="empty">empty<img class="preview" style="opacity:0"></span>
            </td>  
        </tr>
    {{ end }}
{{ end }}

