{{ define "home-page" }}
{{ template "open-html-tag" .}}
{{ template "head" . }}
<body>
  <div class="page">
    {{ template "home-page-body" . }}
  </div>
</body>
{{ template "close-html-tag" .}}
{{ end }}

{{ define "home-page-body" }}
{{ template "statusbar" . }}
<div id="main-container">
    <div id="welcome-div">Welcome to {{ with .Title }}{{ . }}{{end}} page </div>
    {{ with .Authenticated }}
    You are logged in
    {{ else }}
    <button
        id="login-btn"
        type="button"
        hx-get="/login-form" 
        hx-target="#main-container" 
    >Login</button>
        <!--hx-swap="outerHTML" -->
    <label for="#login-btn"></label>

    <button
        id="register-btn"
        type="button"
        hx-get="/register-form" 
        hx-target="#main-container" 
    >Register</button>
    <label for="#register-btn"></label>
</div>
{{end}}
<div class="update-placeholder"></div>
{{end}}
