{{ define "body" }}
<div>Welcome to {{ with .Title }}{{ . }}{{end}} page </div>

{{ with .Authenticated }}
You are logged in
{{ else }}
<button
    id="login-btn"
    type="button"
    hx-get="/login" 
    hx-swap="outerHTML" 
    hx-target="body" 
    hx-push-url="true"
>Login</button>
<label for="#login-btn"></label>

<button
    id="register-btn"
    type="button"
    hx-get="/register" 
    hx-swap="outerHTML" 
    hx-target="body" 
    hx-push-url="true"
>Register</button>
<label for="#register-btn"></label>
{{end}}

{{end}}

{{ define "home-page" }}
{{ template "open-html-tag" .}}
<body>
{{ template "statusbar" . }}
{{ template "home-page-body" }}
</body>
{{ template "close-html-tag" .}}
{{ end }}

{{ define "home-page-body" }}
<div>Welcome to {{ with .Title }}{{ . }}{{end}} page </div>

{{ with .Authenticated }}
You are logged in
{{ else }}
<button
    id="login-btn"
    type="button"
    hx-get="/login" 
    hx-swap="outerHTML" 
    hx-target="body" 
    hx-push-url="true"
>Login</button>
<label for="#login-btn"></label>

<button
    id="register-btn"
    type="button"
    hx-get="/register" 
    hx-swap="outerHTML" 
    hx-target="body" 
    hx-push-url="true"
>Register</button>
<label for="#register-btn"></label>
{{end}}

{{end}}
