{{ define "page" }}
{{ template "open-html-tag" . }} 
{{ template "head" . }}
<body>
    {{ template "navbar" . }}
    {{ template "notification-container" . }}
    {{ template "page-content" . }}
</body>
{{ template "close-html-tag" . }}
{{end}} 

{{ define "open-html-tag" }}<!DOCTYPE html><html lang="en">{{ end }}
{{ define "close-html-tag" }}</html>{{ end }}

{{ define "script" }}
<!--HTMX from local sources-->
<script src="/static/js/htmx.min.js"></script>
<script src="/static/js/custom-functions.js"></script>
{{end}}

{{ define "head" }}
<head>
    <title>{{ with .Title}}{{.}}{{else}}no title{{end}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ template "script" . }}
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="manifest" href="/static/manifest.json" />
    <link
        rel="icon"
        href="/static/basement-organizer-icon512.png"
        type="image/png"
    />
    {{ block "head-extras" . }}{{end}}
    {{ block "style" . }}{{end}}
</head>
{{ end }}

{{ define "default-style" }}<style></style>{{end}} 

{{ define "notification-container" }}
<div id="notification-container"></div>
{{ end }}

{{ define "navbar" }}
<header class="header">
  <div class="header_content" hx-boost="true" hx-history="restore" hx-push-url="true">
    <nav class="nav">
        <ul class="nav_list">
            {{if .Authenticated }}
              <li class="nav_item"><a class="nav_link {{if eq .RequestOrigin "Items"}}highlight-nav{{end}}" href="/items">Items</a></li>
              <li class="nav_item"><a class="nav_link {{if eq .RequestOrigin "Boxes"}}highlight-nav{{end}}" href="/boxes">Boxes</a></li>
              <li class="nav_item"><a class="nav_link {{if eq .RequestOrigin "Shelves"}}highlight-nav{{end}}" href="/shelves">Shelves</a></li>
              <li class="nav_item"><a class="nav_link {{if eq .RequestOrigin "Areas"}}highlight-nav{{end}}" href="/areas">Areas</a></li>
                {{ if .EnvDevelopment }}
                    <li class="nav_item">
                        <a class="nav_link dev {{if eq .RequestOrigin "Samples"}}highlight-nav{{end}}" href="/sample-page" hx-swap="innerHTML show:html:top" >Samples</a>
                    </li>
                {{ end }}
              <li class="nav_item">
                  <a class="nav_link {{if eq .RequestOrigin "Settings"}}highlight-nav{{end}}" href="/settings">
                      <span class="icon-settings"></span>
                  </a>
              </li>
            {{end}}
        </ul>
    </nav>
    <div class="hamburger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</header>
{{end}}

{{ define "page-content"  }}
<div id="main-container">
    {{ template "notification-container" . }}
</div>
{{end}}

{{ define "oob-notification" }} 
<div 
    id="notification-container"
    hx-swap-oob="beforeend"
>
    <!--This notification will load inside id="notification-container" no matter what target was set-->
    <div id="notification-{{.NotificationId}}"
        class="notification noshow {{.Type}}"
        hx-on::load="showNotification('notification-{{.NotificationId}}', {{.Duration}})"
    >{{.Message}}</div>
</div>
{{end}}

