{{ define "page" }}
{{ template "open-html-tag" . }} 
{{ template "head" . }}
<body>
    {{ template "statusbar" . }}
</body>
{{ template "close-html-tag" . }}
{{end}} 

{{ define "open-html-tag" }}<html lang="en">{{ end }}
{{ define "close-html-tag" }}</html>{{ end }}

{{ define "script" }}
<!--HTMX from local sources-->
<script src="static/htmx.js"></script>

<!--HTMX from CDN-->
<!--<script-->
<!--    src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js"-->
<!--    integrity="sha384-qbtR4rS9RrUMECUWDWM2+YGgN3U4V4ZncZ0BvUcg9FGct0jqXz3PUdVpU1p0yrXS"-->
<!--    crossorigin="anonymous"-->
<!--></script>-->
<script src="static/custom-functions.js"></script>
{{end}}

{{ define "head" }}
<head>
    <title>{{ with .Title}}{{.}}{{else}}no title{{end}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ template "script" . }}
    <link rel="stylesheet" href="static/layout.css" />
    <link rel="stylesheet" href="static/snackbar.css" />
    <link rel="manifest" href="static/manifest.json" />
    <link
        rel="icon"
        href="static/basement-organizer-icon512.png"
        type="image/png"
    />
    {{ block "head-extras" . }}{{end}}
    {{ block "style" . }}{{end}}
</head>
{{ end }}

{{ define "default-style" }}<style></style>{{end}} 

{{ define "statusbar" }}
<div class="status-bar">
    <!-- hx-boost upgrades all a tags to use hx-get and reposnses target the body-->
    <div hx-boost="true" hx-push-url="true">
        <nav>
            <a id="home" href="/">Home</a>
            {{with .Authenticated }}
            <a id="personal-page" href="/personal-page">Personal Page</a>
            {{end}}
            <a id="sample-page" 
                href="/sample-page" 
                hx-swap="innerHTML show:html:top"
            >Sample Page</a>
            {{ with .Debug }}
            <button
                hx-boost="false"
                hx-get="/switch-debug-style"
                hx-target="style"
                hx-push-url="false"
            >
                Switch Debug Style
            </button>
            {{ end }}
        </nav>
    </div>
    <div id="authentication-status">
        <div 
            id="loadingIndicator" 
            class="htmx-indicator lds-dual-ring" 
            style="margin-left: 5px"
        ></div>
        {{with .Authenticated }}
            <label id="auth-label">logged in</label>
            <button
                id="logout-btn"
                type="button"
                hx-get="/logout"
                hx-target="#auth-label"
            >
                Logout
            </button>
        {{else}}
            <label id="auth-label">logged out</label>
        {{end}}
    </div>
</div>

<div 
    id="snackbars"
    class="snackbar-container"
></div>
{{end}}

<!--This snackbar will load inside id="snackbar-container" no matter what target was set-->
{{ define "oob-snackbar" }} 
<div 
    id="snackbars"
    class="snackbar-container"
    hx-swap-oob="beforeend"
>
    <div id="snackbar-{{.SnackbarId}}"
        class="snackbar noshow {{.Type}}"
        hx-on::load="showSnackbarWithId('snackbar-{{.SnackbarId}}', '{{.Message}}', {{.Duration}})"
    >
    </div>
</div>
{{end}}

