{{ define "body" }}
{{ template "personal-page-body" . }}
{{ end }}

{{ define "personal-page" }}
{{ template "open-html-tag" . }}
{{ template "head" . }}
<body>
    {{ template "statusbar" . }}
    {{ template "personal-page-body" . }}
</body>
{{ template "script" . }}
{{ template "close-html-tag" . }}
{{end}}

{{ define "personal-page-body" }}
<div>Welcome to {{ with .Title }}{{ . }}{{ end }} Page </div>

Hello {{ with .User }}{{ . }}{{ end }}, how is things going? </br>
<button
    id="login-btn"
    type="button"
    hx-get="/api/v1/create/item" 
    hx-swap="outerHTML" 
    hx-target="body" 
    hx-push-url="false"
>Add new Item</button>
<label for="login-btn"></label>

<form 
    hx-get="/item"
    id="form-item"
    hx-target="#item-container">
    <label for="id">Search ID</label>
    <input type="text" name="id" value="123e4567-e89b-12d3-a456-426614174002">
    <button 
        type="submit"
        
    >Get</button>
</form>

<form 
    hx-get="/items"
    id="form-items"
    hx-target="#item-container">
    <label for="id">Search Query</label>
    <input type="text" name="query" value="id">
    <button 
        type="submit"
        
    >Get</button>
</form>
<div id="item-container"></div>
{{end}}

