{{define "body"}}
   <form hx-post="register" id="form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        </br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        </br>
        <label for="password-confirm">Confirm Password:</label>
        <input type="password" id="password-confirm" name="password-confirm" placeholder="Confirm Password" required>    
        <button type="submit"

      >Register</button>
    </form>
{{end}}

