{{ define "sample-page" }}
{{ template "open-html-tag" . }}
{{ template "head" . }}
<body>
    {{ template "statusbar" . }}
    {{ template "sample-page-body" . }}
</body>
{{ template "close-html-tag" . }}
{{end}}

{{ define "sample-page-body" }}
<div>Body Text inside div</div>
<h1>H1 Header</h1>
<div style="display:flex">
    <p>Paragraph text</p>
    <div>Body Text inside div</div>
</div>
<h2>H2 Header</h2>
<h3>H3 Header</h3>
<h4>H4 Header</h4>
<h5>H5 Header</h5>
<button hx-get="/box" hx-target="#box">NEW BOX</button>
<div id="box" >no box</div>
<h6>H6 Header</h6>

<button 
    hx-get="/snackbar-success"
    type="button"
    hx-swap="none"
>success</button>

<button 
    hx-get="/snackbar-warning"
    type="button"
    hx-swap="none"
>warning</button>
{{end}}

{{ define "style-debug" }}
<style>
* {
    outline: 1px #000 dashed;
}
</style>
{{end}}

{{ define "atest-style" }}
<style hx-swap-oob="true:style">
* {
    outline: 1px #000 dashed;
}
</style>
{{ end }}
