{{ define "sample-page" }}
{{ template "open-html-tag" . }}
{{ template "head" . }}
<body>
    <div class="page">
      {{ template "statusbar" . }}
      {{ template "sample-page-body" . }}
    </div>
</body>
{{ template "close-html-tag" . }}
{{end}}

{{ define "sample-page-body" }}
<div id="main-container">
    <div>Body Text inside div</div>

    <h1>H1 Header</h1>
    <div style="display:flex">
        <p>Paragraph text</p>
        <div>Body Text inside div</div>
    </div>
    <h2>H2 Header</h2>
    <h3>H3 Header</h3>
    <h4>H4 Header</h4>
    <h5>H5 Header</h5>
    <button hx-post="/box" hx-target="#box-list" hx-swap="beforeend">Create box</button>
    <button hx-post="/api/v2/box" hx-target="#box-list" hx-swap="beforeend">Create box API</button>
    <button hx-get="/box" hx-target="#box">Get box</button>

    <form>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th></th>
                    <th></th>
                    <th>Delete</th>
                </tr>
            </thead> 
            <tbody id="box-list" >
            </tbody>
        </table>
        <div >
            <button hx-delete="/boxes"
                hx-swap="outerHTML" 
            >delete</button>
                <!--hx-select-oob="#box-list-item-"-->
            <button hx-put="/boxes" hx-target="#box">edit</button>
        </div>
    </form>
    <div id="box" ></div>
    <h6>H6 Header</h6>

    <button 
        hx-get="/snackbar-success"
        type="button"
        hx-swap="none"
    >success</button>

    <button 
        hx-get="/snackbar-warning"
        type="button"
        hx-swap="none"
    >warning</button>
    <div class="update-placeholder"></div>
</div>
{{end}}

{{ define "box-list-item" }}
<tr id="box-list-item-{{.Id}}">
    <td hx-get="/box?id={{.Id}}"
        hx-target="#box"
    >{{.Id}}</td>
    <td><button hx-get="/box?id={{.Id}}&edit=true" 
        hx-target="#box"
    >edit</button>
    <button hx-get="/api/v2/box/{{.Id}}" 
        hx-target="#box"
    >API get</button>
    </td>
    <td><button hx-delete="/box?id={{.Id}}" 
        hx-target="#box-list-item-{{.Id}}" 
    >del</button></td>
        <!--hx-confirm="Delete {{.Id}} ?"-->
    <td><input type="checkbox" name="Delete:{{.Id}}"></td>
</tr>
{{end}}


{{ define "style-debug" }}
<style>
* {
    outline: 1px #000 dashed;
}
</style>
{{end}}

{{ define "atest-style" }}
<style hx-swap-oob="true:style">
* {
    outline: 1px #000 dashed;
}
</style>
{{ end }}
