{{ define "settings" }}
{{ template "open-html-tag" . }} 
{{ template "settings-head" . }}
<body>
    {{ template "navbar" . }}
    {{ template "content" . }}
    {{ template "extra-js" .}}
</body>
{{ template "close-html-tag" . }}
{{end}} 

{{ define "open-html-tag" }}<html lang="en">{{ end }}
{{ define "close-html-tag" }}</html>{{ end }}

{{ define "script" }}
    <script src="static/js/htmx.min.js"></script>
    <script src="static/js/custom-functions.js" defer></script>
{{end}}

{{ define "settings-head" }}
    <head>
        <title>{{ with .Title}}{{.}}{{else}}no title{{end}}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{ template "script" . }}
            <link rel="stylesheet" href="static/css/navbar.css" />
            <link rel="stylesheet" href="static/css/settings-container.css" />
            <link rel="manifest" href="static/manifest.json" />
            <link rel="icon" href="static/basement-organizer-icon512.png" type="image/png"/>
            {{ block "head-extras" . }}{{end}}
            {{ block "style" . }}
        {{end}}
    </head>
{{ end }}

{{ define "default-style" }}<style></style>{{end}} 

{{ define "navbar" }}
<header class="header">
  <div class="header_content" hx-boost="true" hx-push-url="true">
    <nav class="nav">
        <ul class="nav_list">
            {{with .Authenticated }}
              <li class="nav_item"><a class="nav_link" href="/items">Items</a></li>
              <li class="nav_item"><a class="nav_link" href="/boxes">Boxes</a></li>
              <li class="nav_item"><a class="nav_link" href="/shleves">Shelves</a></li>
              <li class="nav_item"><a class="nav_link" href="/areas">Areas</a></li>
              <li class="nav_item"><a class="nav_link" href="/settings">Settings</a></li>
              <li class="nav_item"><a class="nav_link" href="/sample-page" hx-swap="innerHTML show:html:top" >Sample Page</a></li>
            {{end}}
        </ul>
    </nav>
    <div class="hamburger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</header>
{{end}}

{{ define "content"}}
<div id="main-container">
    <div class="quartier">
    {{if .Authenticated }}
    <ul>
        <li>
        <div id="welcome">{{.User}}</div>
        </li>
        <li>
            <button
                id="logout-btn"
                class="setting-button"
                type="button"
                hx-get="/logout"
                hx-target="this">
                <span>Logout</span>
            </button>
        </li>
        <li>
            <button
                class="setting-button"
                hx-get="/update"
                type="button"
                hx-swap="innerHTML"
                hx-push-url="false"
                hx-target=".half">
                <span>Update Login Data</span>
            </button>
        </li>
    </ul>
    </div>
    {{end}}
    <div class="half"></div>


</div>
{{end}}
{{ define "extra-js" }}
<script>
    if (typeof navEl == 'undefined') { 
     const navEl = document.querySelector(".nav");
     const hamburgerEl = document.querySelector(".hamburger");

      if (hamburgerEl) {
        hamburgerEl.addEventListener("click", () => {
          navEl.classList.toggle("nav--open");
          hamburgerEl.classList.toggle("hamburger--open");
        });
      }
    }

    if (typeof buttons == 'undefined') { 
    const buttons = document.querySelectorAll('.setting-button');

    buttons.forEach(button => {
      button.addEventListener('click', () => {
        buttons.forEach(btn => btn.classList.remove('clicked'));

        button.classList.add('clicked');
      });
    });
    }
</script>
{{end}}
