{{ define "settings-page" }}
{{ template "open-html-tag" . }} 
{{ template "head" . }}
<body>
    {{ template "navbar" . }}
    {{ template "notification-container" . }}
    <div class="main-content">
    {{ template "settings-page-header" . }}
    {{ template "settings-page-content" . }}
    </div>
</body>
{{ template "close-html-tag" . }}
{{ end }} 


{{ define "settings-page-header" }}
<div class="heading-with-button">
    <h1>{{.User}}</h1>
    <button
        hx-confirm="are you sure?"
        type="button"
        hx-get="/logout"
        hx-target="this">
        <span>logout</span>
    </button>
</div>

<button
    hx-get="/update"
    type="button"
    hx-swap="innerHTML"
    hx-push-url="false"
    hx-target="#content">
    <span>Login Data</span>
</button>
<button
    hx-get="/settings/configuration"
    type="button"
    hx-swap="innerHTML"
    hx-push-url="true"
    hx-target="body">
    <span>Configuration</span>
</button>
{{ end }}


{{ define "settings-page-content"}}
<div id="content">
{{ if .Configuration }}
    {{ template "configuration" .Configuration }}
{{ end }}
</div>
{{ end }}
