{{ define "login-page" }}
{{ template "open-html-tag" . }}
{{ template "head" . }}
<body>
    {{ template "statusbar" . }}
    {{ template "login-form" . }}
</body>
{{ template "script" . }}
{{ template "close-html-tag" . }}
{{end}}

{{ define "login-form" }}
<form>
    <label for="username">Username:</label>
    <input 
        {{ if .Authenticated }}disabled{{ end }}
        type="text"
        id="username"
        name="username"
        required>
    </br>
    <label for="password">Password:</label>
    <input 
        {{ if .Authenticated }}disabled{{ end }}
        type="password" id="password" name="password" required>
    </br>
    <div>
        <button 
            style="display: flex"
            hx-post="login"
            hx-indicator="#responseIndicator"
            hx-disabled-elt="this"
            hx-target="#auth-label"
            onclick="document.querySelector('#auth-label').textContent = 'logging in...'"
            {{ if .Authenticated }}disabled{{ end }}
        >Login
            <div 
                id="responseIndicator" 
                class="htmx-indicator lds-dual-ring" 
                style="margin-left: 5px"
            ></div>
    </div>
    </button>
</form>
<label id="responseLabel"></label>
{{ end }}
