{{ define "register-page" }}
{{ template "open-html-tag" . }}
{{ template "head" . }}
<body>
    {{ template "statusbar" . }}
    {{ template "register-form" . }}
</body>
{{ template "close-html-tag" . }}
{{end}}

{{define "register-form"}}
<form 
    hx-post="register"
    hx-disabled-elt="#registerButton"
    hx-indicator="#loadingIndicator"
    id="form"
    name="form">
    <label for="username">Username:</label>
    <input 
        type="text" 
        id="username" 
        name="username"
        required
    />
    <br/>

    <label for="password">Password:</label>
    <input 
        type="password"
        id="password"
        name="password"
        required
    />
    <br/>

    <label for="password-confirm">Confirm Password:</label>
    <input
        type="password"
        id="password-confirm"
        name="password-confirm"
        placeholder="Confirm Password"
        required
    />
    <button id="registerButton" type="submit">Register</button>
</form>
{{end}}
