{{ define "register-page" }}
{{ template "open-html-tag" . }}
{{ template "head" . }}
{{ template "statusbar" . }}
{{ template "register-form" . }}
{{ template "close-html-tag" . }}
{{ end }}

{{define "register-form"}}
<form id="form" name="form" 
     hx-post="register"
     hx-disabled-elt="#registerButton"
     hx-indicator="#loadingIndicator">

    <div id="error-messages" class="error-messages"> 
        {{ if .ErrorMessages }}
            {{ range .ErrorMessages }}
              <div> {{ . }} </div>
            {{ end }}
        {{ end }}
    </div>
    <label for="username">Username:</label>
    <input 
        type="text" 
        id="username" 
        name="username" 
        value="{{ if .InputUserData }}{{ .InputUserData.Username }}{{ end }}" 
        required>
    <br>

    <label for="password">Password:</label>
    <input 
        type="password" 
        id="password" 
        name="password" 
        value="{{ if .InputUserData }}{{ .InputUserData.Password }}{{ end }}" 
        required>
    <br>

    <label for="password-confirm">Confirm Password:</label>
    <input 
        type="password" 
        id="password-confirm" 
        name="password-confirm"   
        value="{{ if .InputUserData }}{{ .InputUserData.PasswordConfirm }}{{ end }}" 
        placeholder="Confirm Password" 
        required>
    <br>

    <button id="registerButton" type="submit">Register</button>
</form>
{{end}}
