{{ define "register-page" }}
{{ template "open-html-tag" . }}
{{ template "head" . }}
{{ template "update-form" . }}
{{ template "close-html-tag" . }}
{{ end }}

{{define "update-form"}}
<div id="form-container">
    <form id="update-user-form" name="form" 
         hx-put="/update"
         hx-target="#main-container"
         hx-swap="outerHTML"
         hx-disabled-elt="#registerButton"
         hx-indicator="#loadingIndicator">

        <div id="error-messages" class="error-messages"> 
            {{ if .ErrorMessages }}
                {{ range .ErrorMessages }}
                  <div> {{ . }} </div>
                {{ end }}
            {{ end }}
        </div>
        <label for="username">Username</label>
        <input 
            type="text" 
            id="username" 
            name="username" 
            value="{{ if .InputUserData }}{{ .InputUserData.Username }}{{ end }}" 
            required>
        <label for="password">Password</label>
        <input 
            type="password" 
            id="password" 
            name="password" 
            placeholder="Password" 
            required>

        <label for="password-confirm">Confirm Password</label>
        <input 
            type="password" 
            id="password-confirm" 
            name="password-confirm"   
            placeholder="Confirm Password" 
            required>

        <button id="updateButton" type="submit">Update</button>
    </form>
</div>

{{end}}

