{{ define "register-page" }}
{{ template "open-html-tag" .}}
{{ template "head" . }}
<body>
    {{ template "navbar" . }}
    {{ template "notification-container" . }}
    {{ template "register-form" . }}
</body>
{{ template "close-html-tag" . }}
{{ end }}

{{define "register-form"}}
<form id="form" name="form" 
     hx-post="register"
     hx-disabled-elt="#registerButton"
     hx-indicator="#loadingIndicator">

    <div id="error-messages" class="error-messages"> 

    </div>
    <label for="username">Username:</label>
    <input 
        type="text" 
        id="username" 
        name="username" 
        required>

    <label for="password">Password:</label>
    <input 
        type="password" 
        id="password" 
        name="password" 
        required>

    <label for="password-confirm">Confirm Password:</label>
    <input 
        type="password" 
        id="password-confirm" 
        name="password-confirm"   
        placeholder="Confirm Password" 
        required>

    <button id="registerButton" type="submit">Register</button>
</form>
<div id="loadingIndicator" class="hidden"></div>
{{end}}
