{{ define "details-additional-inputs"}}

{{ $Box := IsIdAvailable .BoxID }}
{{ $Shelf := IsIdAvailable .ShelfID }}
{{ $Area := IsIdAvailable .AreaID }}

  {{ if or .Box .Item }}
    <div id="box-target">
      <label for="box_id">Is inside of Box:</label>
      {{ if $Box }}
        <input type="text" id="box_id" name="box_id" value="{{ .BoxID }}" hidden>
        <input type="text" id="box_label" name="box_label" value="{{ .BoxLabel }}" hidden>
        <a id="outerbox-link" href="/box/{{ .BoxID }}" class="clickable" hx-boost="true">{{ .BoxLabel }}</a>
      {{ else }}
        <span id="outerbox-link">None</span>
      {{ end }}
        <button 
          id="move-btn"
          hx-post="/addto/box"
          hx-target="#place-holder"
          hx-swap="innerHTML"
          hx-push-url="false"
          type="button"
         {{ if not .Edit }}disabled{{ end }}>
         Add to{{ if $Box }} another {{ end }} Box
        </button>
    </div>
  {{ end }}
  </br>

  {{ if or .Box .Item }}
    <div id="shelf-target">
      <label for="shelf_id">Is inside of Shelf:</label>
      {{ if $Shelf }}
        <input type="text" id="shelf_id" name="shelf_id" value="{{ .ShelfID }}" hidden>
        <input type="text" id="shelf_label" name="shelf_label" value="{{ .ShelfLabel }}" hidden>
        <a id="outerbox-link" href="/shelf/{{ .ShelfID }}" class="clickable" hx-boost="true">{{ .ShelfLabel }}</a>
      {{ else }}
        <span id="outerbox-link">None</span>
      {{ end }}
        <button 
          id="move-btn"
          hx-post="/addto/shelf"
          hx-target="#place-holder"
          hx-swap="innerHTML"
          hx-push-url="false"
          type="button"
         {{ if not .Edit }}disabled{{ end }}>
          Add to{{ if $Shelf }} another {{ end }} Shelf
        </button>
    </div>
  {{ end }}
  </br>

  {{ if or .Box .Item .Shelf }}
    <div id="area-target">
      <label for="area_id">Is inside of Area:</label>
      {{ if $Area }}
        <input type="text" id="area_id" name="area_id" value="{{ .AreaID }}" hidden>
        <input type="text" id="area_label" name="area_label" value="{{ .AreaLabel }}" hidden>
        <a id="outerbox-link" href="/area/{{ .AreaID }}" class="clickable" hx-boost="true">{{ .AreaLabel }}</a>
      {{ else }}
        <span id="outerbox-link">None</span>
      {{ end }}
        <button 
          hx-post="/addto/area"
          hx-target="#place-holder"
          hx-swap="innerHTML"
          hx-push-url="false"
          type="button"
         {{ if not .Edit }}disabled{{ end }}>
          Add to{{ if $Area }} another {{ end }} Area
        </button>
    </div>
  {{ end }}
  </br>
{{ end }}

