{{ define "list" }}
<!--is triggered by search input and pagination buttons -->
<form {{ $FormID := "list" }}
    {{ if .FormID }} {{ $FormID = .FormID}} {{ end }}

    id="{{$FormID}}"

    {{ $FormHXGet := .FormHXGet}}
    {{ $FormHXPost := .FormHXPost}}

    {{ if .FormHXPost }}
        hx-post="{{ .FormHXPost }}" 
    {{ else }}
        hx-get="{{ .FormHXGet }}" 
    {{ end }}

    {{ if .FormHXTarget }}
        hx-target="{{ .FormHXTarget }}"
        hx-swap="innerHTML"
        hx-push-url="false"
    {{ else }}
        hx-target="body"
        hx-swap="outerHTML"
        hx-push-url="true"
    {{ end }}
    hx-trigger="keyup changed delay:500ms from:#{{$FormID}}-search-bar, keyup changed delay:500ms from:#{{$FormID}}-limit, click from:#pagination"
>
    {{ if .SearchInput }}
        <label for="{{$FormID}}-search-bar">{{ .SearchInputLabel }}</label>
        <input id="{{$FormID}}-search-bar" class="search-bar"
            type="text"
            value="{{ .SearchInputValue }}"
            name="query"
        >
        <!--uncomment to enable request from enter key-->
        <!--<input type="submit" name="" value="" hidden>-->
        <button type="button" hx-get="/api/v1/implement-me">Alternative View</button>
    {{ end }}
    {{ $CurrentPageNumber := .CurrentPageNumber}}

    {{ if .Pagination }}
    <div>
    </div>
        <div id="pagination">
            <input id="{{$FormID}}-limit" type="number" name="limit" 
                value="{{ if .Limit}}{{.Limit}}{{else}}5{{end}}"
                {{ if not .ShowLimit }}hidden{{end}}>
            <!--this input must have type submit and be after search-bar input-->
            <!--or else search wont work if the next input is disabled-->
            <label for="{{$FormID}}-current-page" hidden>current page</label>
            <input id="{{$FormID}}-current-page" type="text" name="page" 
                value="{{$CurrentPageNumber}}" hidden>
            {{ range $i, $e := .PaginationButtons }}
                <button type="button"
                    hx-on:click="document.getElementById('{{$FormID}}-current-page').value = {{.PageNumber}}"
                    {{if .Selected}}class="selected"{{end}}
                    {{if .Disabled}}disabled{{end}}
                >{{.PageNumber}}</button>
            {{ end }}
        </div> 
    {{ end }}

    {{ template "list-table" . }}

    {{ if not .RowAction }}
        {{ template "list-buttons" . }}
    {{ end }}

    {{ if .RowAction }}
        <!--Holds information for subsequent requests from this template.-->
        <div id="additional-data-container">
        {{ if eq .RowActionType "move" }}
            {{ if $FormHXPost }}<input name="move" value="true" hidden>{{end}}
            {{ if .AdditionalDataInputs }}
                {{ range .AdditionalDataInputs }}
                    <label for="{{.Key}}" hidden>{{.Key}}</label>
                    <input name="{{.Key}}" value="{{.Value}}" readonly hidden>
                {{ end }}
            {{ else }}
                Nothing selected to be moved.
            {{ end }}
            </div> 
        {{ end }}
    {{ end }}
</form>

{{ if .PlaceHolder }}
    <!--Placeholder for another "list" template to move things-->
    <div id="place-holder"></div>
{{ end }}

{{ end }}


{{ define "list-table" }}
<table class="box-list">
<thead>
    <tr>
        <th>Label</th>
        <th>Box</th>
        <th>Shelf</th>
        <th>Area</th>
        <th style="width: 10%">Image</th>
        {{ if .RowAction }}
        <th style="width: 10%">{{.RowActionName}}</th>
        {{ else }}
        <th style="width: 10%">Move</th>
        <th style="width: 10%">Delete</th>
        {{ end }}
    </tr>
</thead> 
<!--boxes are created directly by backend with template-->
<tbody id="list-body">
    {{ if not .Rows }}
        <tr id="empty-list-row">
            <td colspan="7" style="text-align:center">No Entries</td>  
        </tr>
    {{ else }} <!--not empty-->

    {{ $RowHXGet := .RowHXGet }}
    {{ $RowAction := .RowAction }}
    {{ $RowActionHXPost := .RowActionHXPost }}
    {{ $RowActionHXPostWithID := .RowActionHXPostWithID }}
    {{ $RowActionHXPostWithIDAsQueryParam := .RowActionHXPostWithIDAsQueryParam }}
    {{ $RowActionName := .RowActionName }}
    {{ $RowActionHXTarget := .RowActionHXTarget }}

    {{ range .Rows }}
        {{ $empty := false }}
        {{ if eq .ID.String "00000000-0000-0000-0000-000000000000" }} {{ $empty = true }} {{ end }}


        {{ if $empty }}
            <tr id="list-row-{{.ID}}">
                <td colspan="7" style="text-align:center">
                    <span class="empty">empty<img class="preview" style="opacity:0"></span>
                </td>  
            </tr>
        {{ else }}
            <tr id="list-row-{{.ID}}">
                <td hx-get="{{$RowHXGet}}/{{.ID}}"
                        hx-push-url="true"
                        hx-target="body"
                        class="clickable"
                    >{{.Label}}</td>
                <td>{{.BoxLabel}}</td> 
                <td>{{.ShelfLabel}}</td>
                <td>{{.AreaLabel}}</td>
                <td style="text-align: center;">
                    <img class="preview" 
                        src="data:image/png;base64,{{.PreviewPicture}}" 
                        {{if .PreviewPicture}}alt="{{.Label}}"{{end}}
                    >
                </td>
                {{ if not $RowAction}}
                <td style="text-align: center;">
                    <label for="move:{{.ID}}"></label>
                    <input id="move:{{.ID}}" type="checkbox" name="move:{{.ID}}"></td>
                <td style="text-align: center;">
                    <label for="delete:{{.ID}}"></label>
                    <input id="delete:{{.ID}}" type="checkbox" name="delete:{{.ID}}"></td>
                {{ else }}
                <td style="text-align: center;">
                    <!--hidden inputs with "name=id-to-be-moved" are generated in box-list template
                        inside div<id="additional-data-container"> to track IDs that were selected to be moved -->
                    <button 
                        {{ if $RowActionHXPostWithID }}
                            hx-post="{{ $RowActionHXPostWithID }}/{{.ID}}"
                        {{ else if $RowActionHXPostWithIDAsQueryParam }}
                            hx-post="{{ $RowActionHXPostWithIDAsQueryParam }}?id={{.ID}}"
                        {{ else }}
                            hx-post="{{ $RowActionHXPost }}"
                        {{ end }}
                        hx-include="#additional-data-container"
                        hx-push-url="false"
                        {{ if $RowActionHXTarget }}
                            hx-target="{{$RowActionHXTarget}}"
                            hx-swap="innerHTML"
                        {{ else }}
                            hx-swap="none"
                        {{ end }}
                    >{{ $RowActionName }}</button>
                </td>
                {{ end }}
            </tr>
        {{ end }}
    {{ end }} <!--range rows -->
{{ end }} <!--if not .Rows -->
</tbody>
</table>
{{ end }}

{{ define "selected-input" }}
<label for="{{.Name}}">{{.Name}}</label>
<input type="{{if .Hidden}}hidden{{else}}text{{end}}" 
    name="{{.Name}}" value="{{.Value}}" readonly>
{{ end }}


{{ define "list-buttons"}}
<div id="actions">
    {{ if eq .RequestOrigin "Items" }}
        <button 
            hx-delete="/delete-item"
            hx-target="#item-list"
            hx-swap="innerHTML"
            hx-push-url="false"
        >Delete</button>
        <button 
            hx-post="/move-item-to-box"
            type="button"
            hx-target="#box-list"
            hx-swap="innerHTML"
            hx-push-url="false"
        >Move to Box</button>
        <button 
            hx-post="/move-item-to-shelf"
            type="button"
            hx-target="#shelf-list"
            hx-swap="innerHTML"
            hx-push-url="false"
        >Move to Shelf</button>
        <button 
            hx-post="/move-item-to-area"
            type="button"
            hx-target="#area-list"
            hx-swap="innerHTML"
            hx-push-url="false"
        >Move to Area</button>

    {{ else if eq .RequestOrigin "Boxes" }}
        <button hx-delete="/boxes-list"
            hx-target="#list"
            hx-select="#list"
            hx-push-url="false"
        >Delete</button>
        <button
            hx-post="/get-boxes-move-page"
            type="button"
            hx-swap="innerHTML"
            hx-push-url="false"
            {{ if .MoveButtonHXTarget }}
                hx-target="{{.MoveButtonHXTarget}}"
            {{ else }}
                hx-target="#place-holder"
                hx-swap="outerHTML"
            {{ end }}
            hx-include=":checked"
        >Move to Box</button>
        <button 
            hx-get="/template/item-form"
            type="button"
            hx-swap="innerHTML"
            hx-target="#level-two"
            hx-push-url="false"
        >Move to Shelf</button>
        <button 
            hx-post="/template/item-dummy"
            type="button"
            hx-swap="none"
            hx-target="#level-two"
            hx-push-url="false"
        >Move to Area</button>

    {{ else if eq .RequestOrigin "shelves" }}
        <button 
            hx-delete="/api/v1/delete/shelves"
            hx-swap="outerHTML"
            hx-push-url="false"
        >Delete</button>
        <button 
            hx-get="/api/v1/implement-me"
            type="button"
            hx-push-url="false"
        >Move to Area</button>

    {{ else if eq .RequestOrigin "Areas" }}
        <button 
            hx-delete="/delete-area"
            hx-target="#area-container"
            hx-swap="outerHTML"
            hx-push-url="false"
        >Delete</button>
    {{ end }}
</div>
{{ end }}
