{{ define "search-input" }}
<label for="search">{{ with .SearchInputLabel }}{{ . }}{{end}}</label>
<input id="search-bar"
    type="text"
    {{ if .SearchInputHxPost}}
        hx-post="{{ .SearchInputHxPost }}"
        hx-trigger="keyup changed delay:500ms"
        hx-target="{{ .SearchInputHxTarget }}"
        hx-select="{{ .SearchInputHxTarget }}"
    {{end}}
    value="{{ .SearchInputValue }}"
    hx-on:keyup="document.getElementById('pagination').innerHTML = '';"
    name="query">
        <!--hx-swap="outerHTML"-->
{{ end }}
